@(posts: List[Post])

@for((post, index) <- posts.zipWithIndex) {
<div class="row post">
  <div class="post-rank col-sm-1 hidden-xs">
    <h2>@(index + 1)</h1>
  </div>
  <div class="post-voteoptions col-sm-1 hidden-xs">
    <a class="upvote-link" href="#">&#x25B2;</a>
    <a class="downvote-link"href="#">&#x25BC;</a>
  </div>
  <div class="post-info col-md-11 col-sm-10 col-xs-12">
    <h3 class="post-heading">
      <a href="@post.url" class="post-title" target="_blank">@post.title</a>
      <span class="post-domain">(@post.domain)</span>
    </h3>
    <p class="post-meta">
      <span class="points">@post.score <span class="unit">points </span></span>by
      <a class="post-author" href="/users/@post.owner_id">@post.owner</a>
        <span class="post-time">@(post.createdOnPretty)</span><span class="comments">,
          <a class="go-to-comments" href="/posts/@post.id">@post.commentsTotal comments</a>
        </span>
    </p>
  </div>
</div>
}
