
<div class="row post">
	<div class="post-rank col-sm-1 hidden-xs">
		<h1>1</h1>
	</div>
	<div class="post-voteoptions col-sm-1 hidden-xs">
		<a class="upvote-link" href="#">&#x25B2;</a> <a class="downvote-link"
			href="#">&#x25BC;</a>
	</div>
	<div class="post-info col-md-11 col-sm-10 col-xs-12">
		<h3 class="post-heading">
			<a href="http://www.hackb.io" class="post-title" target="_blank">Welcome
				to HackBio!</a> <span class="post-domain">(www.hackb.io)</span>
		</h3>
		<p class="post-meta">
			<span class="points">3 <span class="unit">points </span></span>by <a
				class="post-author" href="/users/DiH829ASLvYM25mRB">timthimmaiah</a>
			<span class="post-time">6 months ago</span><span class="comments">,
				<a class="go-to-comments" href="/posts/MX5Eae4nucA7En7Kp">1
					comment</a>
			</span>
		</p>
	</div>
</div>