@(startForm:Form[String])(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider




@main("ModernMen") {

    @request.flash.get("error").map { msg =>
    <div class="alert alert-error">
        @Messages(msg)
    </div>
    }

    <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)"
          class="form-signin"
          autocomplete="off" method="post"
    >
        <h2 class="form-signin-heading">Sign Up</h2>
            @helper.inputText(
            startForm("email1"),
            '_label -> Nil,
            'class -> "form-control",
            'placeholder -> "Email address",
            'required -> true,
            'autofocus -> true
            )
            @helper.inputText(
            startForm("password"),
            '_label -> Nil,
            'class -> "form-control",
            'placeholder -> "Password",
            'required -> true
            )
            @helper.inputText(
            startForm("password"),
            '_label -> Nil,
            'class -> "form-control",
            'placeholder -> "Password",
            'required -> true
            )
        </label>

        <div class="form-actions">
            <button type="submit" class="btn btn-lg btn-primary btn-block">@Messages("securesocial.signup.createAccount")</button>
        </div>
</form>


}
