
<div class="row post">
	<div class="post-rank col-sm-1 hidden-xs">
		<h1>1</h1>
	</div>
	<div class="post-voteoptions col-sm-1 hidden-xs">
		<a class="upvote-link" href="#">&#x25B2;</a> <a class="downvote-link"
			href="#">&#x25BC;</a>
	</div>
	<div class="post-info col-md-11 col-sm-10 col-xs-12">
		<h3 class="post-heading">
			<a href="http://www.hackb.io" class="post-title" target="_blank">Welcome
				to HackBio!</a> <span class="post-domain">(www.hackb.io)</span>
		</h3>
		<p class="post-meta">
			<span class="points">3 <span class="unit">points </span></span>by <a
				class="post-author" href="/users/DiH829ASLvYM25mRB">timthimmaiah</a>
			<span class="post-time">6 months ago</span><span class="comments">,
				<a class="go-to-comments" href="/posts/MX5Eae4nucA7En7Kp">1
					comment</a> <span class="category-tag" style="background-color: green;">
					Video </span>
			</span>
		</p>

	</div>
</div>

<div class="row post">
	<div class="post-rank col-sm-1 hidden-xs">
		<h1>2</h1>
	</div>
	<div class="post-voteoptions col-sm-1 hidden-xs">
		<a class="upvote-link" href="#">&#x25B2;</a> <a class="downvote-link"
			href="#">&#x25BC;</a>
	</div>
	<div class="post-info col-md-11 col-sm-10 col-xs-12">
		<h3 class="post-heading">
			<a href="http://www.hackb.io" class="post-title" target="_blank">Rare
				new pokemon</a> <span class="post-domain">(www.example.io)</span>
		</h3>
		<p class="post-meta">
			<span class="points">16 <span class="unit">points </span></span>by <a
				class="post-author" href="/users/DiH829ASLvYM25mRB">digipokemon</a>
			<span class="post-time">2 months ago</span><span class="comments">,
				<a class="go-to-comments" href="/posts/MX5Eae4nucA7En7Kp">3
					comment</a>
			</span>
		</p>
	</div>
</div>

<div class="row post">
	<div class="post-rank col-sm-1 hidden-xs">
		<h1>3</h1>
	</div>
	<div class="post-voteoptions col-sm-1 hidden-xs">
		<a class="upvote-link" href="#">&#x25B2;</a> <a class="downvote-link"
			href="#">&#x25BC;</a>
	</div>
	<div class="post-info col-md-11 col-sm-10 col-xs-12">
		<h3 class="post-heading">
			<a href="http://www.hackb.io" class="post-title" target="_blank">In
				field in action</a> <span class="post-domain">(www.sed.io)</span>
		</h3>
		<p class="post-meta">
			<span class="points">4 <span class="unit">points </span></span>by <a
				class="post-author" href="/users/DiH829ASLvYM25mRB">digipokemon</a>
			<span class="post-time">2 months ago</span><span class="comments">,
				<a class="go-to-comments" href="/posts/MX5Eae4nucA7En7Kp">3
					comment</a>
			</span>
		</p>
	</div>
</div>

<div class="row post">
	<div class="post-rank col-sm-1 hidden-xs">
		<h1>4</h1>
	</div>
	<div class="post-voteoptions col-sm-1 hidden-xs">
		<a class="upvote-link" href="#">&#x25B2;</a> <a class="downvote-link"
			href="#">&#x25BC;</a>
	</div>
	<div class="post-info col-md-11 col-sm-10 col-xs-12">
		<h3 class="post-heading">
			<a href="http://www.hkb.io" class="post-title" target="_blank">Bark
				Bark</a> <span class="post-domain">(www.sed.io)</span>
		</h3>
		<p class="post-meta">
			<span class="points">32 <span class="unit">points </span></span>by <a
				class="post-author" href="/users/DiH829ASLvYM25mRB">kemon</a> <span
				class="post-time">2 months ago</span><span class="comments">,
				<a class="go-to-comments" href="/posts/MX5Eae4nucA7En7Kp">4
					comment</a>
			</span>
		</p>
	</div>
</div>

<div class="row post">
	<div class="post-rank col-sm-1 hidden-xs">
		<h1>5</h1>
	</div>
	<div class="post-voteoptions col-sm-1 hidden-xs">
		<a class="upvote-link" href="#">&#x25B2;</a> <a class="downvote-link"
			href="#">&#x25BC;</a>
	</div>
	<div class="post-info col-md-11 col-sm-10 col-xs-12">
		<h3 class="post-heading">
			<a href="http://www.hkb.io" class="post-title" target="_blank">Guitar
				101</a> <span class="post-domain">(www.sed.io)</span>
		</h3>
		<p class="post-description">Guitar is the most versitile and
			portable instrument yet. Easy to learn and good for wooing the
			ladies.</p>
		<p class="post-meta">
			<span class="points">78 <span class="unit">points </span></span>by <a
				class="post-author" href="/users/DiH829ASLvYM25mRB">musicianL33t</a>
			<span class="post-time">2 months ago</span><span class="comments">,
				<a class="go-to-comments" href="/posts/MX5Eae4nucA7En7Kp">53
					comment</a>
			</span>
		</p>
	</div>
</div>

<div class="row post">
	<div class="post-rank col-sm-1 hidden-xs">
		<h1>6</h1>
	</div>
	<div class="post-voteoptions col-sm-1 hidden-xs">
		<a class="upvote-link" href="#">&#x25B2;</a> <a class="downvote-link"
			href="#">&#x25BC;</a>
	</div>
	<div class="post-info col-md-11 col-sm-10 col-xs-12">
		<h3 class="post-heading">
			<a href="http://www.hkb.io" class="post-title" target="_blank">Stop
				Trying to Give a Fuck</a> <span class="post-domain">(www.sed.io)</span>
		</h3>
		<p class="post-meta">
			<span class="points">8 <span class="unit">points </span></span>by <a
				class="post-author" href="/users/DiH829ASLvYM25mRB">mtFugi</a> <span
				class="post-time">5 months ago</span><span class="comments">,
				<a class="go-to-comments" href="/posts/MX5Eae4nucA7En7Kp">17
					comment</a>
			</span>
		</p>
	</div>
</div>

<div class="row more"
	style="margin-top: 25px; margin-right: 15px; margin-left: -40px;">

	<a href="#">
		<div class="more-body col-md-11 col-sm-10 col-xs-12 pull-right"
			style="text-align: center; color: white; font-size: 30px; background-color: #2A6496;">
			<span>More...</span>
		</div>
	</a>
</div>