
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<dl>
					<dt>Unrequited Love Software</dt>
					<dd>We create awesome softwares for fun.</dd>
				</dl>
			</div>

			<div class="col-xs-4">
				<dl>
					<dt>Websites</dt>
					<dd>Inspirashion</dd>
					<dd>InspireLovePassion</dd>
					<dd>Tasty Tonic</dd>
				</dl>
			</div>
			<div class="col-xs-4">
				<dl>
					<dt>Follow us</dt>
					<dd>
						<a href="https://twitter.com/LuvUnrequited"
							class="twitter-follow-button" data-show-count="false">Follow
							&amp;LuvUnrequited</a>
						<script>
							!function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (!d.getElementById(id)) {
									js = d.createElement(s);
									js.id = id;
									js.src = "//platform.twitter.com/widgets.js";
									fjs.parentNode.insertBefore(js, fjs);
								}
							}(document, "script", "twitter-wjs");
						</script>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>